:root {
    --orange: #f7921c;
    --grey: #f2f2f4;
    --dark-grey: rgba(50, 53, 62, 0.05);
    --black: rgba(60, 60, 60, 1);
  }
  
  html {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23f7921c' fill-opacity='0.14' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  }

body {
    display: grid;

    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas: 
    ". header header nav nav ."
    ". content content content content ."
    ". fall-festival fall-festival store store .";
    grid-gap: 10px;
    font-family: "Roboto Slab", "sans-serif";
    font-size: 14px;
  }

  header {
    grid-area: header;
  }

  nav {
    grid-area: nav;
  }

  main {
    grid-area: content;
  }

  #order-now {
    grid-area: fall-festival;
  }

  #store {
    grid-area: store;
  }

  img {
    width: 100%;
  }
  
  /*  Define the Navigation */
  nav ul {
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;
  }

  nav ul li {
    list-style: none;
    width: 30%;
    background-color: var(--orange);
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  /* Define the Main */

  main {
    display: flex;
  }

  main img {
    width: 35%;
    padding: 20px;
      /* padding would be strict, for more specific things it could cause a problem */
    height: 350px;
    object-fit: cover;
      /* looked up method, to make image fit without distorting it */
  }

  main .content {
      /* margin-left: 20px; */
  }

  /* Define the Store Area */
  #store h3 {
    text-align: center;
  }

  #store a {
    display: block;
    text-align: center;
    background-color: var(--black);
    color: var(--gray);
    width: 20%;
    line-height: 30px;
    margin: 0 auto;
    /* trick to centering one div inside of another div */
    border-radius: 10px;
  }

  a {
    color: var(--black);
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }