:root {
    --blue: #00adee;
    --grey: #505355;
}
  
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* head {
    margin-left: 8%;
    margin-right: 8%;
} */

body {
    margin-left: 8%;
    margin-right: 8%;
    background-color: #f6fcfd;
}

/* header > img {
    max-width: 16%;
} */

/* .item1 {
    grid-row: 1 / span 3;
}

.item2 {
    grid-row: 4 / 1 / 2 / 6;
} */

h1 {
    font-size: 2em;
    /* margin-top: -3px; */
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
}

h3 {
    font-size: 1em;
    color: var(--blue);
}

/* h1.headline {
    font-size: 4em;
    margin-top: .2em;
    margin-bottom: .15em;
    color: var(--gray);
} */

header img {
    height: 25px;
}

#student-grid {
    display: grid;
    grid-gap: 20px 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "quote quote picture"
        "profile profile contact"
        "experience experience experience";
}

#student-quote {
    grid-area: quote;
    align-self: center;
    color: var(--gray);
}

#student-profile {
    grid-area: profile;
}

#student-picture img {
   border-radius: 50%;
}

#student-picture {
    grid-area: picture;
    text-align: center;
}

div #experience{
    grid-area: experience;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#student-contact {
    grid-area: contact;
    text-align: center;
    color: var(--gray);
    font-style: italic;
}

div #experience div{
    width: 30%;
    padding: 1em;
}
