html {
    height: 100%;

    /* define the default font size*/ 
    font-size: 16px;
}

*{
    box-sizing: border-box;
    /* everythin border box*/
}
body {
    font-family: 'Raleway', sans-serif;
    /* web based font and the site should tell you how to set it up, second 
    faunt is the fall back faunt*/

    /* Gradient Background image*/
    background-image: linear-gradient(to bottom, #858c90, #BBB);

    /* do not repeat background, streach it*/
    background-repeat: no-repeat;

    /* Do not scroll background */
    background-attachment: fixed;

    /* not round other boxes but force horizontal scrolling */
    white-space: nowrap;
}

/* for this style to be set it needs to be linked*/

div.trello-list {
    /* create a multi-columns */ 
    display: inline-block;

    width: 300px;

    background-color: #DDD;

    border-radius: 2px 3px;

    vertical-align: top;

    margin-right: 10px;
}

div.trello-list h2 {
    margin: 8px;

    font-size: 1.0rem;
    /* 1.0rem says keep it standard size, keeps baseline for faunt */
    font-weight: bold;
   
    /* makes title text uppercase */
    text-transform: uppercase;

}

div.trello-list ol {
    margin: 0;
    padding: 0;
}

div.trello-list li {
/* get rid of numbers */ 
list-style: none;

background-color: rgb(255, 255, 255);

font-size: .9rem;

border-radius: 1px;

margin-bottom: 10px;
padding: 8px;

/* override the default and allow wrapping*/
white-space: normal;
}


div.trello-list li:hover {
    /* color changes when hovering over it*/
    background-color: cornflowerblue;
    color: #092d42;
}

div.trello-list li:last-child {
    margin: 0px;
}

div.trello-list a {
    display: block;

    text-decoration: none;
    color: #888;

    /* Spacing: top right bottom left*/
    padding: 8px 0px 8px 5px;
    font-size: .85rem;
}

div.trello-list a:hover {
    background-color: rgb(9, 45, 66, .1);
    /* the .1 makes it transparent */
}

