
div {
    background-color: red;
}
* {
    background-color: green;
}
.descendentOne {
    background-color: yellow;
}


/* descendent selection 
#idExample .desccendentOne {
    background-color: gray;
}
*/


#idExample {
    background-color: gray;
}

.descendentOne {
    background-color: blue;
}

div {
    border-style: solid;
    margin: 10px;
    padding: 15px;
}

span {
    border-style: dotted;
    margin: 10px;
    padding: 10px;
}


/* Child selector */
/*
#divThree > span {
    background-color: brown;
}
*/

/* Adjacent sibling selector */
/*
.spanOne + span {
    background-color: blue;
}
*/

/* General sibling selector */
.spanTwo ~ span {
    background-color: blue;
}
