
/* Flexbox rules go in the parent container CSS */
section#flex-example {
    position: relative;
    top: 50px;
    height: 50%;
    width: 75%;
    background-color: gray;
    margin: auto;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}





#flex-example div {
    width: 100px;
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    line-height: 100px;
}

div#one {
    background-color: red;
    /* height: 75px;
    line-height: 50px; */
}

div#two {
    background-color: green;
    /* height: 150px;
    line-height: 150px; */
}

div#three {
    background-color: blue;

}


#flex-description {
    position: relative;
    top: 100px;
    width: 80%;
    margin: auto;
    display: flex;
}

#flex-description  div  img {
    width: 100%;
    display: block;

}

#flex-description div {
    width: 50%;
}
#flex-description div:first-child {
    margin-right: 50px;
}

#flex-description h1 {
    text-align: center;
    text-transform: lowercase;
    color: blue;
}